@model UserManagementApp.Models.User

@{
    ViewData["Title"] = "Detalles de Usuario";
}

<h1 class="text-center">DETALLES DE USUARIO</h1>

<div class="d-flex justify-content-center">
    <div class="card col-md-6">
        <div class="card-body text-center">
            <img src="@Model.Avatar" alt="Avatar" class="img-fluid rounded-circle mb-3" style="max-width: 150px;" />
            <p><strong>ID:</strong> @Model.Id</p>
            <p><strong>Email:</strong> @Model.Email</p>
            <p><strong>Nombre:</strong> @Model.FirstName</p>
            <p><strong>Apellido:</strong> @Model.LastName</p>
        </div>
    </div>
</div>
